.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;

  &--show {
    display: block;
  }

  &__mask {
    width: 100%;
    height: 100%;
    background-color: dim(0.4);
    font-size: 0;
  }

  &__layer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    z-index: 1;
    background: $white;

    //모달 FULL-LAYER 타입
    &.modalFull {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .modal {
        &__header {
          padding-left: rem(56px);
        }
        &__title {
          text-align: center;
        }

        &__body {
          padding: rem(20px 16px);

          &.padding16 {
            padding: rem(16px) !important;
          }
        }
      }
    }

    //모달 스크롤 타입 (DEFAULT)
    &.modalScroll {
      top: 50%;
      left: 50%;
      width: calc(100% - #{rem(48px)});
      max-height: calc(100% - #{rem(300px)});
      border-radius: $radius;
      background: $bg;
      border-bottom: none;
      transform: translate(-50%, -50%);
      $white1: rgb(246 246 246);
      $white2: rgba(143, 137, 137, 0.282);
      $black1: rgb(60 60 60 / 30%);
      box-shadow: rem(-2px -2px 2px 0) rgba(76, 76, 76, 0.2),
        inset rem(-2px -2px 6px 0) rgba(76, 76, 76, 0.2),
        inset rem(3px 3px 6px 0) rgba(#888, 0.2),
        rem(2px 2px 2px 0) rgba(76, 76, 76, 0.2);
    }
  }

  &__header {
    position: relative;
    padding: rem(16px 56px 16px 18px);
    border-bottom: 1px solid $greyddd;
  }

  &__title {
    @include fontcss($grey666, 600, rem(16px), 1.2);
    text-align: left;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 auto;
    width: rem(50px);
    height: rem(52px);
    border-radius: 100%;
    font-size: 0;

    &:after {
      content: '+';
      display: inline-block;
      width: 100%;
      height: 100%;
      text-align: center;
      @include fontcss($grey888, 200, rem(34px), rem(52px));
      transform: rotate(45deg);
    }

    // position: absolute;
    // bottom: rem(-50px);
    // left: 0;
    // right: 0;
    // margin: 0 auto;
    // width: rem(34px);
    // height: rem(34px);
    // border-radius: 100%;
    // font-size: 0;
    // box-shadow: rem(-2px -2px 2px 0) rgba(76, 76, 76, 0.2),
    //   rem(2px 2px 2px 0) rgba(76, 76, 76, 0.2);

    // &:after {
    //   content: '+';
    //   display: inline-block;
    //   width: 100%;
    //   height: 100%;
    //   text-align: center;
    //   @include fontcss($greyf2, 200, rem(34px), 1);
    //   transform: rotate(45deg);
    // }
  }

  &__body {
    flex: 1 1 auto;
    overflow-y: scroll;

    &.noPadding {
      padding: 0 !important;
    }
  }
}
