{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "printWidth": 80,
  "proseWrap": "preserve",
  "jsxBracketSameLine": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "endOfLine": "auto",
  "eslintIntegration": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore"
}
