{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "printWidth": 100,
  "trailingComma": "all",
  "tabWidth": 2,
  "endOfLine": "auto",
  "eslintIntegration": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "proseWrap": "never"
}
