.account {
  overflow: hidden;
  width: 100%;
  background: $bg;

  &__app {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &__layout {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__header {
    width: 100%;
    background: $white;
  }

  &__document {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
    overflow-y: auto;
    height: 100%;
  }

  &__contents {
    padding-bottom: rem(80px);
  }

  &__dockbar {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: rem(52px);
    border-top-left-radius: rem(20px);
    border-top-right-radius: rem(20px);
    padding: 0 0 calc(constant(safe-area-inset-bottom));
    padding: 0 0 calc(env(safe-area-inset-bottom));
    box-shadow: rem(0 -3px 4px) rgba(255, 255, 255, 0.8);

    &__menu {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 20%;
      color: $greyccc;
      font-size: rem(26px);

      &.active {
        color: $point;
      }
    }
  }

  &__footer {
    background: $greyf8;
    padding-bottom: rem(52px);

    &.bottomFloating {
      padding-bottom: rem(56px);
    }
  }

  &__floating {
    display: flex;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
  }
}
