.ac {
  overflow: hidden;
  width: 100%;
  background: $bg;

  &__app {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &__layout {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: rem(0 0 70px);
    padding: rem(constant(safe-area-inset-top) 0)
      calc(constant(safe-area-inset-bottom) + #{rem(70px)});
    padding: rem(env(safe-area-inset-top) 0) calc(env(safe-area-inset-bottom) + #{rem(70px)});
  }

  &__header {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: rem(96px);
    background: $point;
  }

  &__logo {
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    height: rem(30px);
    font-size: 0;

    svg {
      color: $black;
      font-size: rem(14px);
    }

    span {
      margin-left: rem(8px);
      @include fontcss($black, bold, rem(12px));
    }
  }

  &__contents {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &__dockbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: rem(0);
    bottom: calc(constant(safe-area-inset-bottom) + #{rem(0)});
    bottom: calc(env(safe-area-inset-bottom) + #{rem(0)});
    z-index: 1;
    width: 100%;
    height: rem(70px);
    padding: rem(0 70px);

    &__inner {
      display: flex;
      justify-content: center;
      border-radius: rem(20px);
      width: 100%;
      padding: rem(8px 0);
      @include shadow();
    }

    &__menu {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(32px);
      height: rem(32px);
      margin: rem(0 20px);
      color: $greyccc;
      font-size: rem(28px);

      &.active {
        color: $point;
        border-radius: rem(20px);
        border-top-left-radius: rem(20px);
        border-top-right-radius: rem(20px);
      }
    }
  }
  &__dockbar2 {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: rem(0);
    bottom: calc(constant(safe-area-inset-bottom) + #{rem(0)});
    bottom: calc(env(safe-area-inset-bottom) + #{rem(0)});
    z-index: 1;
    width: calc(100% - #{rem(140px)});
    height: rem(60px);
    // margin: rem(16px auto 0);
    // padding: rem(9px 0);
    border-radius: rem(20px);
    @include shadow();

    &__menu {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(32px);
      height: rem(32px);
      margin: rem(0 20px);
      color: $greyccc;
      font-size: rem(28px);

      // &:after {
      //   content: '';
      //   display: block;
      //   padding-bottom: 77%;
      // }

      &.active {
        color: $point;
        border-radius: rem(20px);
        border-top-left-radius: rem(20px);
        border-top-right-radius: rem(20px);
      }
    }
  }

  &__footer {
    background: $greyf8;
    padding-bottom: rem(52px);

    &.bottomFloating {
      padding-bottom: rem(56px);
    }
  }

  &__floating {
    display: flex;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
  }
}
