:root {
  //basic
  --white: #fff;
  --black: #111;

  //primary
  --background: #f0f0f0;
  --point: #acb0ee; //#a3a7e4 // #8cabfe; //#f5cd41; //#fec815;
  --blue: #0f4d76; //#307bc0;

  //support
  --yellow: #f5cd41;
  --red: #f9173f; //#ff2d21;
  --green: #00c751;
  --mint: #1bbbc6;

  //neutrals
  --white: #fff;
  --grey50: #f8f8f8;
  --grey80: #f2f2f2;
  --grey100: #e8e8e8;
  --grey200: #ddd;
  --grey400: #ccc;
  --grey500: #aaa;
  --grey600: #888;
  --grey800: #666;

  //fonts
  --noto: 'Notosans', sans-serif; //국문
  --font_n: 'Montserrat', var(--noto); //숫자
  --font_e: 'Montserrat', var(--noto); //영문

  .peachType {
    --point: #ff9271;
    --blue: #f4d1bd;
    --background: #fff;
  }
}

/* #region Colors */
//basic
$white: var(--white);
$black: var(--black);

//primary
$bg: var(--background);
$point: var(--point);
$blue: var(--blue);

//support
$yellow: var(--yellow);
$red: var(--red);
$green: var(--green);
$mint: var(--mint);

//neutrals
$greyf8: var(--grey50);
$greyf2: var(--grey80);
$greye8: var(--grey100);
$greyddd: var(--grey200);
$greyccc: var(--grey400);
$greyaaa: var(--grey500);
$grey888: var(--grey600);
$grey666: var(--grey800);

/* #region Fonts */
$noto: var(--noto);
$font_n: var(--font_n);
$font_e: var(--font_e);
/* #endregion */
